// Fonts
$font-main: 'Exo 2', sans-serif;

// Colors
$dark: #181F22;
$background-color: #F3F3F3;
$white: #ffffff;
$orange:#FF914C;
$mint: #62FAA9;
$gray:#E8E5DF;

$heading: 64px;
$subtitle: 32px;
$paragraph: 25px;
$font-weight: 300;