.container-registration {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .block-registration {
        width: 30vw;
        display: flex;
        flex-direction: column;
        background-color: $gray;
        padding: 20px 60px 60px 40px;
        background-color: $white;
        border-radius: 20px;
        box-shadow: 1px 1px  5px $dark;
        .entrans-or-registration {
            display: flex;
            justify-content: space-between;
            font-size: $subtitle;
            padding-bottom: 20px;
            font-weight: $font-weight;
            border-bottom: 2px solid $dark;
            .entrans2{
                color: $dark;
            }
            .registration2{
                color: $orange;
            }
            .entrans2:hover{
                color: $orange;
            }
        }

        .form-entrans{
            display: flex;
            flex-direction: column;
            align-items: start;
            .email-or-number, .pasvord, .repeat-pasvord{
                margin-top: 30px;
                width: 100%;
                padding: 15px 0px 10px 5px;
                border-radius: 10px;
            }
            .email-or-number::placeholder, .pasvord::placeholder, .repeat-pasvord::placeholder{
                color: $dark;
                font-size: 20px;
            }
            .email-or-number:focus, .pasvord:focus, .repeat-pasvord:focus{
                outline: $orange;
                border-color: $orange;
            }
            input[type="text"] {
                font-size:20px;
            }
            .checked{
                margin-top: 30px;
                font-size: 16px;
                display: flex;
                flex-direction: row;
                margin-bottom: 50px;
                color: $dark;
                .remember {
                    margin-right: 10px;
                    cursor: pointer;
                }
                input[type='checkbox']:checked {
                    background-color: $orange;
                    border-radius: 40%;
                    border: none;
                    }
                  input[type='checkbox']{
                    text-align: center;
                    display: table-cell;
                    vertical-align: middle;
                    width: 20px !important;
                    height: 20px !important;
                    appearance:none;
                    border-radius: 20%;
                    border: 1px solid rgb(191 35 42 / 90%);
                    box-shadow: none;
                    font-size: 1em;
                    border-color: $orange;
                  }
                label{
                    cursor: pointer;
                    user-select: none; 
                    font-weight: 400;
                }
            }
            
            .submit-registraton {
                width: 100%;
                background-color: $orange;
                border: none;
                border-radius: 10px;
                padding: 15px 0px;
                font-size: $paragraph;
                cursor: pointer;
                margin-bottom: 40px;
                box-shadow: 1px 1px  5px $dark;
                color: $white;
            }
            .submit-registraton:hover {
                background-color: $mint;
                color: $dark;
            }
            
        }

        .social-autorization {
            display: flex;
            flex-direction: column;
            .autorization-paragraf {
                display: flex;
                justify-content: center;
                font-size: 14px;
                margin-bottom: 20px;
                color: $dark;
                user-select: none; 
            }
            .social {
                display: flex;
                justify-content: space-around;
                img{
                    width: 40px;
                }
            }
        }
        
    }
}
.entrans {
}
.registration {
}
.social-autorization {
}
