.btn{
    font-size: $paragraph;
    border: none;
    font-weight: 100;
    color: $dark-gray;
    cursor: pointer;
    &:hover{
        color: $orange;
    }
}

.container {
    .card-service {
        width: 95vw;
        margin: 0 auto;
        .type-auto {
            .tytle-and-basket {
                display: flex;
                justify-content: space-between;
                font-weight: 500;
                .tytle-auto {
                }
                .header-cart {
                    display: flex;
                    flex-wrap: nowrap;
                    .arrow-basket{
                        display: flex;
                        align-items: end;
                        img{
                            width: 30px;
                        }
                    }
                }
                .cart{
                    position: relative;
                    transition: color 0.3s;
                    .cart-text{
                        margin-right: 20px;
                        .cart-quantity{
                            margin-top: -10px;
                            position: absolute;
                            right: 2px;
                            top: 50%;
                            transform: translateY(-50%);
                            color: $white;
                            background-color: #de707b;
                            border-radius: 100%;
                            padding: 3px;
                            min-height: 16px;
                            min-width: 16px;
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 12px;
                            line-height: 1;
                        }
                        
                    }
                    .cart-content{
                        cursor: default;
                        position: absolute;
                        right: 0;
                        top: 100%;
                        width: 490px;
                        background-color: $white;
                        box-shadow: 0px 4px 4px rgba(135, 135, 135, 0.25);
                        opacity: 0;
                        visibility: hidden;
                        transition: opacity 0.3s, visibility 0.3s;

                        .cart-content-list{
                            max-height: 330px;

                            .cart-content-item{

                                .cart-product{
                                    display: flex;
                                    align-items: center;
                                    padding: 12px 20px;

                                    .cart-product-img{
                                        max-width: 120px;
                                        max-height: 100px;
                                        object-fit: cover;
                                        margin-right: 20px;
                                    }
                                    .cart-product-text{
                                        margin-top: 15px;
                                        color: $dark;
                                        .cart-product-title{
                                            max-width: 280px;
                                            font-size: $paragraph;
                                            font-weight: 300;
                                        }
                                        .cart-prroduct-price{
                                            font-size: $subtitle;
                                            font-weight: 300;
                                        }
                                        &.active{
                                            color: $dark;
                                        }
                                    }
                                    
                                    .cart-product-delete{
                                        margin-left: auto;
                                        width: 30px;
                                        height: 40px;
                                        border: none;
                                        background-color: transparent;
                                        padding: 0;
                                        background-image: url('/src/icons/trash.png');
                                        background-size: cover;
                                        background-position: center;
                                        background-repeat: no-repeat;
                                    }
                                    transition: background-color 0.3s;
                                    &:hover{
                                        background-color: rgba(77, 77, 77, 0.2);
                                    }
                                }
                            }
                        }
                        .cart-content-bottom{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 20px;
                            .cart-content-full-price{
                                display: flex;
                                flex-direction: column;
                                span{
                                    font-weight: 300;
                                }
                                .fullprice{
                                    font-weight: 400;
                                    
                                }
                                
                            }
                            .cart-content-btn{
                                margin-top: auto;
                                width: 250px;
                                min-height: 60px;
                                font-size: 18px;
                                border: none;
                                background-color: $orange;
                                color: $white;
                                border-radius: 20px;
                                cursor: pointer;
                            }
                            
                        }
                    }
                    &.active:hover{
                        color: $dark;

                        .cart-content{
                            opacity: 1;
                            visibility: visible;
                            transition: opacity 0.3s, visibility 0.3s;
                        }
                    }

                }
                
            }
            .img-auto {
                display: flex;
                align-items: center;
                justify-content: center; 
                margin: 8vh 0;
                img{
                    width: 80vw;
                }
            }
            .btn-chanje-auto {
                display: flex;
                justify-content: end;
                align-items: center;
                .arrow-auto{
                    display: flex;
                    flex-wrap: nowrap;
                    .prew-auto{
                        margin-right: 20px;
                        cursor: pointer;
                    }
                    .next-auto{
                        margin-left: 20px;
                        margin-right: 22vw;
                        cursor: pointer;
                    }
                }
                .btn-next{
                    button{
                            display: flex;
                            align-items: center;
                            padding: 15px 50px 15px 120px;
                            background-color: $white;
                            border: none;
                            border-radius: 20px;
                            cursor: pointer;
                            p{
                                font-size: $paragraph;
                                font-weight: 100;
                                margin-right: 60px;
                            }
                            img{
                                width: 20px;
                                color: $dark-gray;
                            }
                            &:hover{
                                background-color: $orange;
                                color: $white;
                            }
                    }
                }
                img{
                    width: 40px;
                }
            }
            .services {
                display: flex;
                justify-content: space-between;
                gap: 20px;
                overflow-x: auto;
                max-width: 98vw;
                scroll-snap-type: x;
                scroll-behavior: smooth;
                scrollbar-width: none;
                overflow-x: hidden;
                &::--webkit-scrollbar{
                    display: none;
                }
                .service-card{
                    border: 1px solid $dark-gray;
                    border-radius: 20px;
                    min-width: calc(31.5% - .5rem);
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    margin: 10px;
                    scroll-snap-align: start;
                    user-select: none;
                    .title-service-card{
                        display: flex;
                        align-items: start;
                        justify-content: start;
                        width: 100%;
                        padding-left: 20px;
                        border-bottom: 1px solid $dark-gray;
                    }
                    img{
                        margin-top: 20px;
                        width: 20vw;
                        pointer-events: none;
                    }
                    img::selection {
                        background: transparent;
                    }
                    &:hover{
                        background-color: $mint;
                    }
                    
                }   
                .service-card.active{
                    background-color: $mint;
                }
            }
            .choosing-services-specific {
                margin-bottom: 20px;
                .choosing-services-specific-block {
                    display: flex;
                    justify-content: space-between;
                    .choosing-services-specific-card {
                        border: 1px solid $dark;
                        width: 29vw;
                        display: none;
                        border-radius: 20px;
                        
                        .title-choosing-services-specific-card{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            .btn-choosing-services-specific-card{
                                margin-top: 20px;
                                width: 70%;
                                border: none;
                                border-radius: 20px;
                                font-size: $paragraph;
                                background-color: $orange;
                                color: $white;
                                height: 50px;
                                margin-bottom: 20px;
                                cursor: pointer;
                                &:disabled{
                                    opacity: 0.4;
                                    pointer-events: none;
                                }
                            }
                        }
                    }
                    .choosing-services-specific-card.active {
                        background-color: $mint;
                    }
                }
            }
        }
    }
    .application-details{

        .application-details-about {
            padding: 20px;
            .number-application {
                font-size: 40px;
                font-weight: 500;
            }
            .personal-info-and-about-details {
                display: flex;
                justify-content: space-between;
                .personal-info-application{
                    width: 50vw;
                    p{
                        font-size: $subtitle;
                        font-weight: 500;
                        margin-top: 30px;
                    }
                    .surname-name-div-application, .number-email-div-application, .date-time-application{
                        margin-top: 50px;
                        display: flex;
                        justify-content: space-between;
                        input{
                            font-size: $paragraph;
                            border: none;
                            border-bottom: 2px solid $dark-gray;
                            font-weight: 100;
                            color: $dark;
                            width: 250px;
                            padding: 0px 0px 0px 10px;
                            &::placeholder{
                            color: $dark;
                            font-size: $paragraph;
                            font-weight: 100;
                            color: $dark-gray;
                            gap: 20px;
                        }
                        &:focus{
                        outline: $orange;
                        border-color: $orange;
                        }
                        }
                    }
                    .date-time-application{
                        display: flex;
                        gap: 30px;
                        .div-date, .div-time{
                            display: flex;
                            gap: 20px;
                            label{
                                cursor: pointer;
                            }
                        }
                    }
                }

                .about-details{
                    display: flex;
                    flex-wrap: wrap;
                    margin-left: 100px;
                    p{
                        width: 100%;
                        font-size: 30px;
                        margin-top: 40px;
                    }
                    p span{
                        font-size: $subtitle;
                        font-weight: 500;
                    }
                    p:first-child{
                        margin-top: 30px;
                    }
                    .about-details-p{
                        cursor: pointer;
                        &:hover{
                            color: $orange;
                        }
                    }

                }
            }
        }
    }
    .tabs-service{
        display: none;
        .tabs-service-nav{
            margin-top: 20px;
            display: flex;
            .tabs-service-nav-btn{
                background-color: $white;
                color: $orange;
                padding: 10px 30px;
                font-size: 20;
                width: 230px;
                border-radius: 30px 30px 0px 0px;
                border: none;
                font-size: 20px;
                &:first-child{
                    margin-left: 50px;
                }
            }
        }
        .tabs-service-content{
            .tabs-service-item{
                width: 100%;
                height: 75vh;
                background-color: $white;
                border-radius: 30px;
                .application-details-service {
                    padding: 20px;
                    .application-details-about-service {
                        padding: 20px;
                        .number-application-service {
                            font-size: 40px;
                            font-weight: 500;
                        }
                        .personal-info-and-about-details-service {
                            display: flex;
                            justify-content: space-between;
                            .personal-info-application-service {
                                width: 50vw;
                                p{
                                    font-size: $subtitle;
                                    font-weight: 500;
                                    margin-top: 30px;
                                }
                                .surname-name-div-application-service,.number-email-div-application-service, .date-time-application-service {
                                    margin-top: 50px;
                                    display: flex;
                                    justify-content: space-between;
                                    input{
                                    font-size: $paragraph;
                                    border: none;
                                    border-bottom: 2px solid $dark-gray;
                                    font-weight: 100;
                                    color: $dark;
                                    width: 250px;
                                    padding: 0px 0px 0px 10px;
                                    &::placeholder{
                                    color: $dark;
                                    font-size: $paragraph;
                                    font-weight: 100;
                                    color: $dark-gray;
                                    gap: 20px;
                                    }
                                    &:focus{
                                    outline: $orange;
                                    border-color: $orange;
                                    }
                                    }
                                }
                                .date-time-application-service{
                                    display: flex;
                                    gap: 30px;
                                    .div-date-service, .div-time-service {
                                        display: flex;
                                        gap: 20px;
                                        label{
                                            cursor: pointer;
                                        }
                                    }
                                }
                            }
                            .about-details-service {
                                display: flex;
                                flex-wrap: wrap;
                                margin-left: 100px;
                                p{
                                    width: 100%;
                                    font-size: 30px;
                                    margin-top: 40px;
                                }
                                p span{
                                    font-size: $subtitle;
                                    font-weight: 500;
                                }
                                p:first-child{
                                    margin-top: 30px;
                                }
                                .about-details-p-service{
                                    cursor: pointer;
                                    &:hover{
                                        color: $orange;
                                    }
                                    margin-top: 20px;
                                }
                                .about-details-service-btn{
                                    margin-top: 20px;
                                    background-color: $white;
                                    color: $orange;
                                    border: 3px solid $orange;
                                    border-radius: 20px;
                                    width: 100%;
                                    height: 10vh;
                                    font-size: $paragraph;
                                    font-weight: 600;
                                    cursor: pointer;
                                    &:hover{
                                        border: 3px solid $dark;
                                        color: $dark;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .viewing-more-services {
        display: none;
        .viewing-more-services-about {
            padding: 20px;
            .more-services-about {
                font-size: $subtitle;
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid $dark-gray;
                padding: 20px 0px;
            }
        }
    }
    
}
